[user]
	name = George Sheppard
	email = g.sheppard@digital-science.com

[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
